/*
body{
  background-color: #ffe4c4;
  padding: 50px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: Outfit, sans-serif;
}

.container{
  position:relative;
  padding-bottom: 100px;
}

#account{
  position:absolute;
  display:flex;
  left:0px;
  top:40px;
  font-size:40px;
  background-color: white;
  padding: 20px;
  border: none;
  border-radius: 15px;
}

#first{
  font-size: 50px;
}

#second{
  font-size: 30px;
  position: relative;
}
*/
input{
  position: relative;
  top:20px;
  border: none;
  border-radius: 5px;
  font-family: Outfit, sans-serif;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  background-color:white;
  padding: 5px;
  height: 50px;
  width: 300px;
  transition: 0.1s;
    
}


.color{
  border: none;
  font-size: 14px !important;
  --ionicon-stroke-width: 32px;
  color: skyblue;
  background-color: skyblue;
  border-radius: 50%;
  vertical-align: middle;
  transition: transform 0.2s, color 0.2s;
  position: absolute;
  top:20px;
  left:10px;
}

/* Changements de couleurs du voyant en fonction de l'état de la tâche
  Rouge pour tâche en cours
  Vert pour tâche accomplie
  Blue pour tâche listée
*/

.color.while{
color: red;
background-color: red;
}

.color.done{
color: green;
background-color: green;
}

.color.reload{
  color:skyblue;
  background-color:skyblue;
}

form .save{
  position: relative;
  font-weight: bold;
  font-size: 20px;
  padding: 7px;
  top: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: 0.4s ease;
}

form  .save:active{
  transform: scale(0.9);
}


.list{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.todo-item{
  position: relative;
  top: 50px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



.top {
  position: relative;
  display: flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  color: black;
  gap:20px;
  padding: 10px;
  border-bottom: 1px solid gray;
 
}

.todo-item span{
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
}

.bottom {
 position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: black;
}

.bottom p {
  position: relative;
  font-size:12px;
  color:gray;
}

.todo-name {
  flex: 1;
  text-align: left;
  font-size: 18px;
}

.todo-item form,
.todo-item a {
  margin-left: 10px;
}

.todo{
  display: inline;
  color: black;
}

.todo.ended{
  text-decoration: line-through ;
}

.todo-name.reloaded{
  text-decoration:none;
}
a button{
  background:none;
  border: none;
}

form button{
  background: none;
  border: none;
}

ion-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size:20px;
  transform: translateY(-50%);
  transition: 0.3s ease;
}

.pencilIcon{
  position: absolute;
  right: 50px;
  top: 50%;
  font-size:20px;
  transform: translateY(-50%);
  transition: 0.3s ease;
}

.pencilIcon.started{
  display: none;
}

.startIcon{
  position: absolute;
  display: inline;
  right: 80px;
  top: 50%;
  font-size:20px;
  transform: translateY(-50%);
  transition: 0.3s ease;
}

.startIcon.started{
  display: none;
}

.startIcon.reseted{
  display: inline;
}

.endIcon{
  position: absolute;
  display: none;
  right: 20px;
  top: 50%;
  font-size:20px;
  transform: translateY(-50%);
  transition: 0.3s ease;
}

.endIcon.started{
  display: inline;
}

.endIcon.ended{
  display: none;
}


.resetIcon{
  position: absolute;
  display: none;
  right: 50px;
  top: 50%;
  font-size:20px;
  transform: translateY(-50%);
  transition: 0.3s ease;

}

.resetIcon.ended{
  display: inline;
}

.resetIcon.reseted{
  display: none;
}

.startIcon:hover,
.endIcon:hover,
.resetIcon:hover
{
  color: white;
  transform: scale(0.9);
  transform: translateY(-50%);
}



ion-icon:hover {
  color: white;
  transform: scale(0.9);
  transform: translateY(-50%);
}


.deleteIcon.started{
  display: none;
}

.deleteIcon.reseted{
  display: inline;
}

.deleteIcon.ended{
  position: absolute;
  display: inline;
  right: 20px;
  top: 50%;
  font-size:20px;
  transform: translateY(-50%);
  transition: 0.3s ease;

}

/*Changement de display des icônes en fonction de l'état de la tâche
Utilisation des start_date,end_date pour le display
*/


.line.checked{
  display:none;
}

.date{
  display: none;
}

.date.checked{
  display: inline;
}

.time{
  display: none;
}

.time.checked{
  display: inline;
}